{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky-ServerAction{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>{{ name }}</h1>
    <ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">
			 显示列表
		</a>
	</li>
	<li><a href="#ios" data-toggle="tab">详情</a></li>
	<li><a href="#java" data-toggle="tab">java</a></li>
</ul>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
<div class="col-md-11">
    {{ wtf.quick_form(form) }}

</div>
        </div>
	<div class="tab-pane fade" id="ios">
        <div class="col-lg-12">
		<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
			TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
        </div>
	</div>
	<div class="tab-pane fade" id="java">
       <div class="col-lg-12">
		<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
        </div>
	</div>

</div>
{% endblock %}